* {
	font-family: Roboto, Bahnschrift, sans-serif;
}
html, body {
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	display: table;
}
main {
	background-color: white;
	color: black;
	padding-left: 0%;
	padding-right: 0%;
}
#nav-main {
	min-height: 100%;
}

a {
	color: black;
}
a:hover {
	color: rgb(244, 171, 37);
}
main a {
	text-decoration: black underline;
}

button {
	background-color: rgb(244, 171, 37);
	border: none;
	font-weight: bold;
	transition: 0.5s;
	opacity: .8;
	text-transform: uppercase;
	padding: 10px;
}
button:hover {
	opacity: 1;
}

#logo {
	padding: 20px 10px;
	width: 100%;
	background-color: white;
}
h1 {
	font-weight: 300;
	font-size: 64px;
}
#top_bar a, #bottom_bar a {
	color: white;
}
#top_bar nav * {
	float: right;
	margin: 0px 20px 0px 0px;
}
#top_bar * {
	font-weight: 700;
	font-size: 105%;
	/*font-stretch: condensed;*/
}
.vrt_separator {
	color: gray;
	margin: 5px;
	width: 1px;
}
#top_bar a:visited, #bottom_bar a:visited {
	color: white;
}
#navbar_links a {
    display: block;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	
}
#navbar * {
	color: white;
}
/* @media (min-width: 500px)
{
	#navbar {
		float: left;
		width: 300px;
		height: auto;
		background-color: black;
	}
} */

#navbar #navbar_social * {
	font-size: 48px;
	margin: 5px;
}

#bottom_bar {
    /* clear: both;
    position: relative;*/
    /* height: 40px; */
	display: table-row;
    height: 0;
}

#bottom_bar :not(i) {
	text-align: center;
	margin: 15px 0px 15px 0px;
	font-size: 110%;
	position: relative;
}
#general_row {
	height: 100%;
}
#left_box {
	background-image: url(/assets/signIn-signUp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	align-items: center;
	text-align: center;
}
li {
	text-align: left;
}

#right_box{
	background-color: white;
}
.httperror {
	color: red;
}
.httperror code {
	font-size: 100px;
}
.httperror h1 {
	font-size: 48px;
}

.error { display: none; color: red; font-weight: bold; }
.submitted :invalid + .error { display: block; }
.submitted :invalid { border: 1px solid red; }

.notification-success {
	border: 1px solid green;
	background-color: lightgreen;
	padding: 2px;
	margin: 5px;
}
.notification-warning {
	border: 1px solid darkorange;
	background-color: #ffcc88;
	padding: 2px;
	margin: 5px;
}
.notification-error {
	border: 1px solid darkred;
	background-color: red;
	padding: 2px;
	margin: 5px;
}
.notification-floating {
	position: absolute;
	top:10px;
	left:0;
	right:0;
	z-index: 1;
}
.ofTheMonth {
	background-color: lightgray;
}
#cookiesConsent {
	background-color: black;
	font-size: 100%;
	color: white;
}

.errored-field {
	border: 1px solid red;
}

#cookie-notice {
	position: sticky;
	bottom: 0;
	padding: 10px 20px 10px 20px;
	text-align: center;
	font-size: 110%;
}