body {
    background-color: #012;
    color: red;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    margin: 0;
}
h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 15vw;
    margin: 0;
    font-weight: 300;
}
div {
    text-align: center;
    vertical-align: middle;
    font-size: 3vw;
    margin: 0;
}
.fenêtre {
    background-color: #ff000044;
}